<div id="<%= dom_id item %>">
  <p>
    <strong>Demo badge:</strong>
    <%= item.demo_badge %>
  </p>

  <p>
    <strong>Demo boolean:</strong>
    <%= item.demo_boolean %>
  </p>

  <p>
    <strong>Demo code:</strong>
    <%= item.demo_code %>
  </p>

  <p>
    <strong>Demo country:</strong>
    <%= item.demo_country %>
  </p>

  <p>
    <strong>Demo date:</strong>
    <%= item.demo_date %>
  </p>

  <p>
    <strong>Demo datetime:</strong>
    <%= item.demo_datetime %>
  </p>

  <p>
    <strong>Demo external image:</strong>
    <%= item.demo_external_image %>
  </p>

  <p>
    <strong>Demo file:</strong>
    <%= item.demo_file %>
  </p>

  <p>
    <strong>Demo files:</strong>
    <%= item.demo_files %>
  </p>

  <p>
    <strong>Demo gravatar:</strong>
    <%= item.demo_gravatar %>
  </p>

  <p>
    <strong>Demo markdown:</strong>
    <%= item.demo_markdown %>
  </p>

  <p>
    <strong>Demo number:</strong>
    <%= item.demo_number %>
  </p>

  <p>
    <strong>Demo password:</strong>
    <%= item.demo_password %>
  </p>

  <p>
    <strong>Demo progress bar:</strong>
    <%= item.demo_progress_bar %>
  </p>

  <p>
    <strong>Demo select:</strong>
    <%= item.demo_select %>
  </p>

  <p>
    <strong>Demo status:</strong>
    <%= item.demo_status %>
  </p>

  <p>
    <strong>Demo text:</strong>
    <%= item.demo_text %>
  </p>

  <p>
    <strong>Demo textarea:</strong>
    <%= item.demo_textarea %>
  </p>

  <p>
    <strong>Demo trix:</strong>
    <%= item.demo_trix %>
  </p>

</div>
